@using IBS_Europe.App.Resources
@model Solutions.EditModel?

<div class="modal fade" id="addProductModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Add">
            <div class="modal-header text-white bg-midnight">
                <h5 class="modal-title" id="editProductModalLabel">@SharedResource.MAPr_Title</h5>
                <button type="submit" name="action" value="cancel" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ProductName">@SharedResource.MA_Name</label>
                    <input type="text" class="form-control" id="ProductName" name="Name" value="@Model.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label for="SmallDescription">@SharedResource.MAP_Desc</label>
                    <textarea class="form-control" id="SmallDescription" name="SmallDescription">@Model.SmallDescription</textarea>
                    <span asp-validation-for="SmallDescription" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label for="ProductDescription">@SharedResource.MAP_Description</label>
                    <textarea class="form-control" id="ProductDescription" name="Description">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="productImage" class="form-label">@SharedResource.MAP_Image</label>
                    <input type="file" class="form-control" id="productImage" name="Image" accept=".png, .jpeg, .jpg">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                    
                <div class="modal-footer">
                    <button type="submit" name="action" value="cancel" class="btn btn-secondary" data-bs-dismiss="modal">@SharedResource.MA_Cancel</button>
                    <button type="submit" name="action" class="btn btn-primary">@SharedResource.MA_Add</button>
                </div>
                
            </div>
            </form>
        </div>
    </div>
</div>


<style>
     .btn-primary:hover {
            background-color: white;
            color: #007bff;
            border-color: #007bff;
        }

</style>
@if (User.Identity.IsAuthenticated)
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const loadTinyMCE = () => {
                fetch('/tinymce-script.js')
                    .then(response => response.json())
                    .then(config => {
                        if (!config.scriptUrl) {
                            throw new Error('Script URL is missing in the response');
                        }
                        const script = document.createElement('script');
                        script.src = config.scriptUrl;
                        script.onload = () => {
                            tinymce.init(config.options);
                        };
                        script.onerror = (error) => {
                            console.error('Erreur de chargement du script TinyMCE :', error);
                        };
                        document.head.appendChild(script);
                    })
                    .catch(error => console.error('Erreur lors de la configuration de TinyMCE :', error));
            };

            const addModal = document.getElementById('addProductModal');
            if (addModal) {
                addModal.addEventListener('shown.bs.modal', () => {
                    if (!tinymce.get('ProductDescription')) {
                        loadTinyMCE();
                    }
                });

                
                addModal.addEventListener('hidden.bs.modal', () => {
                    tinymce.remove();
                });
            }
        });
    </script>
}






