@using IBS_Europe.App.Resources
@model Contact.EmailModel

<div class="modal fade" id="addEmailModal" tabindex="-1" aria-labelledby="addEmailLabel" data-bs-backdrop="static" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @{
                var pageHandler = Model.Title == SharedResource.MEI_AddE ? "AddE" : "EditE";
            }
            <form method="post" asp-page-handler="@pageHandler">
            <div class="modal-header text-white bg-midnight">
                <h5 class="modal-title" id="addEmailLabel">@Model.Title</h5>
                <button type="submit" name="action" value="cancel" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label for="Name" class="form-label">@SharedResource.MEI_Name</label>
                    <input type="text" class="form-control" id="Name" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="Description" class="form-label">@SharedResource.MEI_Description</label>
                    <input type="text" class="form-control" id="Description" asp-for="@Model.Description">
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label for="Email" class="form-label">@SharedResource.MEI_Email</label>
                    <input type="text" class="form-control" id="Email" asp-for="@Model.EmailAddress">
                    <span asp-validation-for="@Model.EmailAddress" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="action" value="cancel" class="btn btn-secondary" data-bs-dismiss="modal">@SharedResource.MA_Cancel</button>
                     @if ( Model.Title == SharedResource.MEI_AddE )
                      {
                          <button type="submit" name="action" class="btn btn-primary">@SharedResource.MA_Add</button>
                      }
                      else
                      {
                          <button type="submit" name="action" class="btn btn-primary">@SharedResource.MA_Edit</button>
                      }
                     
                </div>
            </div>
             </form>
        </div>
    </div>
</div>
