@using IBS_Europe.App.Resources
@model Pages.AboutUsTeam.AddPeopleModel


<div class="modal fade" id="addPeopleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="addPeopleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" asp-page-handler="Add">
            <div class="modal-header text-white bg-midnight">
                <h5 class="modal-title" id="addPartnerLabel">@SharedResource.MAPe_Title</h5>
               <button type="submit" name="action" value="cancel" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Formulaire pour ajouter un partenaire -->
                
                    
                <div class="mb-3">
                    <label for="peopleFirstname" class="form-label">@SharedResource.MAP_Firstname</label>
                    <input type="text" class="form-control" id="peopleFirstname" name="Firstname" value="@Model.Firstname">
                    <span asp-validation-for="Firstname" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="peopleName" class="form-label">@SharedResource.MAP_Lastname</label>
                    <input type="text" class="form-control" id="peopleName" name="Lastname" value="@Model.Lastname">
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="peoplePicture" class="form-label">@SharedResource.MAP_Image</label>
                    <input type="file" class="form-control" id="peoplePicture" name="Picture" accept=".png, .jpeg, .jpg">
                    <span asp-validation-for="Picture" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="peopleRole" class="form-label">@SharedResource.MAP_Role</label>
                    <input type="text" class="form-control" id="peopleRole" name="Role" value="@Model.Role">
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="peopleEmail" class="form-label">@SharedResource.MAP_Email</label>
                    <input type="text" class="form-control" id="peopleEmail" name="Email" value="@Model.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                    
                <div class="mb-3">
                    <label for="peoplePhone" class="form-label">@SharedResource.MAP_Phone</label>
                    <input type="text" class="form-control" id="peoplePhone" name="Phone" value="@Model.Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                <div class="mb-3">
                    <label for="peoplePhone2" class="form-label">@SharedResource.MAP_Phone2</label>
                    <input type="text" class="form-control" id="peoplePhone2" name="SecondPhone" value="@Model.SecondPhone">
                    <span asp-validation-for="SecondPhone" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="action" value="cancel" class="btn btn-secondary" data-bs-dismiss="modal">@SharedResource.MA_Cancel</button>
                    <button type="submit" name="action" class="btn btn-primary">@SharedResource.MA_Add</button>
                </div>
               
            </div>
             </form>
        </div>
    </div>
</div>
