@using IBS_Europe.App.Resources
@model Solutions.EditModel?

<div class="modal fade" id="editProductModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editProductModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-page-handler="Edit">
            <div class="modal-header text-white bg-midnight">
                <h5 class="modal-title" id="editProductModalLabel">@SharedResource.MEPr_Title</h5>
                <button type="submit" name="action" value="cancel" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ProductName">@SharedResource.MA_Name</label>
                    <input type="text" class="form-control" id="ProductName" name="Name" value="@Model.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label for="SmallDescription">@SharedResource.MAP_Desc</label>
                    <textarea class="form-control" id="SmallDescription" name="SmallDescription">@Model.SmallDescription</textarea>
                    <span asp-validation-for="SmallDescription" class="text-danger"></span>
                </div>
                    
                <div class="form-group">
                    <label for="ProductDescription">@SharedResource.MAP_Description</label>
                    <textarea class="form-control" id="ProductDescription" name="Description">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="submit" name="action" value="cancel" class="btn btn-secondary" data-bs-dismiss="modal">@SharedResource.MA_Cancel</button>
                    <button type="submit" name="action" class="btn btn-primary">@SharedResource.MA_Edit</button>
                </div>
                
                <input type="hidden" name="actualName" value="@Model.Reference">
                
            </div>
            </form>
        </div>
    </div>
</div>


<style>
     .btn-primary:hover {
            background-color: white;
            color: #007bff;
            border-color: #007bff;
        }

</style>

@if (User.Identity.IsAuthenticated)
{

    <script>

fetch('/tinymce-script.js')
    .then(response => response.json())
    .then(config => {
        if (!config.scriptUrl) {
            throw new Error('Script URL is missing in the response');
        }
        const script = document.createElement('script');
        script.src = config.scriptUrl; // Correctement défini ici
        script.onload = () => {
            // Assurez-vous que TinyMCE est initialisé après le chargement du script
            tinymce.init(config.options); 
        };
        script.onerror = (error) => {
            console.error('Erreur de chargement du script TinyMCE :', error);
        };
        document.head.appendChild(script);
    })
    .catch(error => console.error('Erreur lors de la configuration de TinyMCE :', error));

</script>
}


