@page
@using IBS_Europe.App.Resources
@model IBS_Europe.App.Pages.AboutUsTeam

@{
    ViewData["Title"] = SharedResource.AT_Title;
    @Html.Partial("_AddPeopleModal", Model.Input);
    @Html.Partial("_EditPeopleModal", Model.Input);
    @Html.Partial("_DeleteConfirmationModal")
}

<style>
    .img {
        height: 19em;
    }
    
    .card-text {
    min-height: 1.5em;
    }
</style>

<div class="container" style="margin-bottom: 2em;">
    <div class="d-flex justify-content-center align-items-center mt-3">
        <h1 class="text-center mt-1">@SharedResource.AT_Title</h1>
        
        @if (User.Identity.IsAuthenticated  && Thread.CurrentThread.CurrentCulture.Name == "fr-FR")
        {
            <form method="post" asp-page-handler="AddButton">
                <button type="submit" class="button-1 ms-3">
                    <i class="fas fa-user-plus"></i>
                </button>
            </form>
        }
    </div>
    
    <div class="d-flex flex-wrap justify-content-center mb-4">
         @if (Model.PeopleList.Count == 0)
                            {
                                <div class="alert alert-info mt-5" role="alert">
                                    @SharedResource.ABT_NoMembers
                                </div>
                            }
        @foreach (var person in Model.PeopleList)
        {
            <div class="card h-100 flex-item m-3" style="width: 18em;">
                @if (User.Identity.IsAuthenticated && Thread.CurrentThread.CurrentCulture.Name == "fr-FR")
                {
                    <form method="post" enctype="multipart/form-data" asp-page-handler="SwitchImage" id="form-@person.Id">
                        <input type="hidden" id="id-@person.Id" name="id" value="@person.Id"/>

                        <input type="file" id="fileInput-@person.Id" name="Input.Picture" style="display:none;"
                               onchange="submitForm(@person.Id)" accept=".png, .jpeg, .jpg"/>

                        <img class="card-img-top img" src="@person.Path" title="@SharedResource.AT_Image @person.FirstName @person.LastName"
                             alt="@SharedResource.AT_Image @person.FirstName @person.LastName"
                             style="cursor: pointer;" onclick="document.getElementById('fileInput-@person.Id').click()"/>

                        @Html.ValidationMessage($"people_{person.Id}", "", new { @class = "text-danger small", style = "text-align: center; display: block;" })
                    </form>
                }
                else
                {
                    <img src="@person.Path" class="card-img-top img" alt="@SharedResource.AT_Image @person.FirstName @person.LastName" title="@SharedResource.AT_Image @person.FirstName @person.LastName">
                }
                <div class="card-body text-center">
                    <h5 class="card-title">@person.LastName</h5>
                    <h5 class="card-title">@person.FirstName</h5>
                    <p class="card-text" style="font-size: 0.750em;">
                        <i class="fas fa-user fs-6 text-primary align-middle me-2"></i>
                        @person.Role
                    </p>
                    <p class="card-text" style="font-size: 0.750em;">
                        @if (person.Email.Trim() != "")
                        {
                            <i class="fas fa-envelope fs-6 text-primary align-middle me-2"></i>
                            <a class="text-decoration-none" href="mailto:@person.Email">@person.Email</a>
                        }
                    </p>
                    
                    <p class="card-text" style="font-size: 0.750em;">
                         @if (person.Phone.Trim() != "")
                         {
                             <i class="fas fa-phone fs-6 text-primary align-middle me-2"></i>
                             <a class="text-decoration-none" href="tel:@person.Phone">@person.Phone</a>
                         }
                    </p>
                    <p class="card-text" style="font-size: 0.750em;">
                         @if (person.SecondPhone.Trim() != "")
                         {
                             <i class="fas fa-phone fs-6 text-primary align-middle me-2"></i>
                             <a class="text-decoration-none" href="tel:@person.SecondPhone">@person.SecondPhone</a>
                         }
                    </p>
                  

                    @if (User.Identity.IsAuthenticated && Thread.CurrentThread.CurrentCulture.Name == "fr-FR")
                    {
                        <div class="d-flex align-items-center justify-content-center">
                            <!-- Flèche gauche -->
                            <form method="post" asp-page-handler="Switch" class="d-inline">
                                <input type="hidden" name="direction" value="left"/>
                                <input type="hidden" name="priority" value="@person.Priority"/>
                                <button type="submit" class="btn btn-primary btn-sm me-4">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                            </form>

                            <!-- Bouton Edit -->
                            <form method="post" asp-page-handler="EditButton">
                                <input type="hidden" name="editId" value="@person.Id"/>
                                <button type="submit" class="btn btn-warning btn-sm me-2">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </form>

                            <!-- Bouton Supprimer -->
                            <button onclick="openDeleteModal(@person.Id)" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal" type="button" class="btn btn-danger btn-sm me-4">
                                <i class="fas fa-trash"></i>
                            </button>

                            <!-- Flèche droite -->
                            <form method="post" asp-page-handler="Switch" class="d-inline">
                                <input type="hidden" name="direction" value="right"/>
                                <input type="hidden" name="priority" value="@person.Priority"/>
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                            </form>
                        </div>
                    }
                </div>
            </div>
        }
    </div>


</div>

@section Scripts {
    
    <script>
                $(document).ready(function () {
                    // Vérifiez si le modèle contient des erreurs de validation et si l'action est l'ajout
                    var hasErrors = '@(!ViewData.ModelState.IsValid)';
                    var isAddPeopleAction = '@Model.IsAddPeopleAction';
        
                    // Si des erreurs existent et que l'action est un ajout, ouvrir la modal
                    if (hasErrors === 'True' && isAddPeopleAction === 'True') {
                        var modal = new bootstrap.Modal(document.getElementById('addPeopleModal'));
                        modal.show();
                    }
                });
            </script>
    
   <script>
   
    $(document).ready(function () {   
                       
                       var isEditPeople = '@Model.IsEditPeopleAction';
                       if (isEditPeople === 'True') {
                           var modal = new bootstrap.Modal(document.getElementById('editPeopleModal'));
                           modal.show();
                       }
                   });
    
    $(document).ready(function () {   
                           
                           var isAddPeople = '@Model.IsAddPeopleAction';
                           if (isAddPeople === 'True') {
                               var modal = new bootstrap.Modal(document.getElementById('addPeopleModal'));
                               modal.show();
                           }
                       });

       function openDeleteModal(id) {
           document.getElementById("peopleId").value = id;
       }
       
       function submitForm(personId) {
               var form = document.getElementById('form-' + personId);
               var fileInput = document.getElementById('fileInput-' + personId);
               var filePath = fileInput.value;
       
               // Vérifier si un fichier a été sélectionné
               if (filePath) {
                   // Si un fichier est sélectionné, soumettre le formulaire
                   form.submit();
               }
           }
       
   </script>

    
}

