@page
@using IBS_Europe.App.Resources
@model IBS_Europe.App.Pages.Products

@{
    ViewData["Title"] = SharedResource.P_Title;
    @Html.Partial("_EditProductModal", Model.Edit);
    @Html.Partial("_AddProductModal", Model.Edit);
    @Html.Partial("_DeleteConfirmationModal");
   
}

<style>
    .products-hover:hover {
      color: skyblue;
    }
    
    .description {
      border-top: 0.1em solid #ddd;
      background-color: #f9f9f9;
      display: block;
    }
    
    .description img {
      width: 18em;
      height: auto;
    }
    
    .product {
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 0.4;
      width: 10em;
      display: block;
    }
    
    .edit {
    display: flex;
      position: absolute;
      top: 26%;
      right: 8%;
    }
     
</style>

@{
    int selectedProductId = 0;

    if (Request.Cookies["selectedProduct"] != null)
    {
        int.TryParse(Request.Cookies["selectedProduct"], out selectedProductId);
    }

    var currentProduct = Model.ProductsList.Count > 0 
        ? Model.ProductsList.Find(p => p.Id == selectedProductId) ?? Model.ProductsList[Model.ProductsList.Count / 2]
        : null;

    int left = -1;
    int right = -1;
    
    if (currentProduct != null)
    {
        if (currentProduct == Model.ProductsList[0])
        {
            left = Model.ProductsList[Model.ProductsList.Count - 1].Id;
        }
        else
        {
            left = @Model.ProductsList[@Model.ProductsList.IndexOf(currentProduct) - 1].Id;
        }
    
        if ( currentProduct == Model.ProductsList[Model.ProductsList.Count - 1])
        {
            right = Model.ProductsList[0].Id;
        }
        else
        {
            right = @Model.ProductsList[@Model.ProductsList.IndexOf(currentProduct) + 1].Id;
        }
    }
    
}

<div class="container">
    @if (currentProduct == null)
        {
            <!-- Message lorsque la liste de produits est vide -->
            <div class="alert alert-warning mt-5" role="alert">
                @SharedResource.Pr_Nothing
            </div>
            @if(User.Identity.IsAuthenticated && Thread.CurrentThread.CurrentCulture.Name == "fr-FR")
            {
                <form method="post" asp-page-handler="AddButton">
                    <button type="submit" class="button-1 mt-1">
                        @SharedResource.Pr_AddProduct
                    </button>
                </form>
            }
        }
    else
    {
         <div class="mt-2 d-flex justify-content-between align-items-center mb-2">
        <span onclick="showProduct(@left)" class="cursor fs-3 p-1 user-select-none color-midnight products-hover">&#9664;</span>
        <div class="d-flex justify-content-center align-items-center w-100 overflow-hidden">
            @foreach (var product in Model.ProductsList)
            {
                if (product.Id == currentProduct.Id)
                {
                    <div class="product fs-5 cursor text-center user-select-none m-3" style="transform: scale(1.2); opacity: 1;">
                        @product.Name
                    </div>
                }
                else
                {
                    <div class="product fs-5 cursor text-center user-select-none m-3" onclick="showProduct(@product.Id)">
                        @product.Name
                    </div>
                }
            }
        </div>
        <span onclick="showProduct(@right)" class="cursor fs-3 p-1 user-select-none color-midnight products-hover">&#9654;</span>
    </div>

    <div class="description p-2 mt-1 rounded-3 min-height-20em" id="desc-@currentProduct.Id">
        @if (User.Identity.IsAuthenticated  && Thread.CurrentThread.CurrentCulture.Name == "fr-FR")
        {
            <div class="d-flex justify-content-between">
                <div class="ms-auto d-flex gap-2">
                    <form method="post" asp-page-handler="AddButton">
                        <button type="submit" class="button-1">
                            <i class="fas fa-plus"></i>
                        </button>
                    </form>
                    <form method="post" asp-page-handler="Button">
                        <input type="hidden" id="id" name="id" value="@currentProduct.Id"/>
                        <button type="submit" class="button-1">
                            <i class="fas fa-edit"></i>
                        </button>
                    </form>
                    <button onclick="openDeleteModal(@currentProduct.Id)" class="button-1 trash" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>



            <form method="post" enctype="multipart/form-data" asp-page-handler="SwitchImage">
                <input type="hidden" id="id" name="id" value="@currentProduct.Id"/>

                <input type="file" id="fileInput" name="Edit.Image" style="display:none;" onchange="this.form.submit()" accept=".png, .jpeg, .jpg"/>

                <img class="m-2 float-lg-start" src="@currentProduct.Image" alt="@currentProduct.Name"
                     style="cursor: pointer;" onclick="document.getElementById('fileInput').click()"/>
                <span asp-validation-for="Edit.Image" class="text-danger"></span>
            </form>
        }
        else
        {
            <img class="m-2 float-lg-start" src="@currentProduct.Image" alt="@currentProduct.Name"/>
        }

        <p>@Html.Raw(currentProduct.Description)</p>
    </div>
    }

   
</div>

@section Scripts {
    <script src="~/js/products.js"></script>

    <script>
       $(document).ready(function () {
       var isUpdateProduct = '@Model.IsUpdate';
                            
       if (isUpdateProduct === 'True') {
           var modal = new bootstrap.Modal(document.getElementById('editProductModal'));
           modal.show();
       }
       });
       
       $(document).ready(function () {
              var isAddProduct = '@Model.IsNew';
                                   
              if (isAddProduct === 'True') {
                  var modal = new bootstrap.Modal(document.getElementById('addProductModal'));
                  modal.show();
              }
              });
       
       function openDeleteModal(id) {
           document.getElementById("productId").value = id;
       }

       </script>

}